body {
	background-color: #ffffff;
	color:#666666;
	font-family:Arial,Helv,sans-serif;
	font-size:11px;
	margin:0;
	padding:0;
}

#content {
	width: 100%;
	margin: 5px auto;
	background-color: #fff;
	color: #333;
	line-height: 130%;
}

header{
	font-size: 50px;
    font-weight: bold;
    text-align: center;
    width: 100%;
	margin-bottom: 10px;
	padding-left: 20px;
	color: #fff;
	height: 80px;
	background: rgb(192, 5, 5);
}

#logo {
    padding-top: 25px;	
}

.box{
    border: 15px solid rgb(192, 5, 5);
    padding: 50px;
    width: 50%;
    margin: 10px auto;
	background-color: #fff;
	color: #333;
    line-height: 130%;
}

h2{
    text-align: center;
	font-size:14px;
	font-weight:bold;
	color:black;

}

.text {
    color: black;
    margin: 10px auto;
    font-size: 14px;
}

footer{
	margin-bottom: 10px;
	padding: 20px;
	color: #fff;
	height: 80px;
	background: rgb(192, 5, 5);
}